{% extends "layout.html" %}

{% block body %}
        <p></p>
        <h1 class="texta">Welcome to my Website</h1>
        <h5>This Website is for the Pset8 form the CS50x Course in 2022</h5>
        <form action="/" method="post">
                <input name="Instrument" autofocus placeholder="Intrument" type="text">
                <button type="submit">Submit</button>
        </form>
        <img id="duck" class="imgtrans2" src="https://cdn.shopify.com/s/files/1/0084/9282/products/Webp.net-resizeimage_2.png?v=1570638297" width="1000" position="fixed" top="0">
{% endblock %}
