{% extends "layout.html" %}

{% block body %}
    <h1 class="texta">How i came to CS50</h1>
    <div class="container">
    <div class="image">
        <img src="https://www.youtube.com/img/desktop/yt_1200.png">
    </div>
    <div class="texti">
        <h4 float="left">I Found it on Social Media</h4>
        <ul>
            <li>Youtube</li>
            <li>Twitter</li>
            <li>Facebook</li>
        </ul>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<div class="container">
    <div class="image">
        <img src="https://miro.medium.com/max/700/1*IYCifTCCR2ah-79u94Z3wg.png">
    </div>
    <div class="texti">
        <h4 float="left">Later i started the coure on my own</h4>
        <h6>I started to get intrest to code more</h2>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}